@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --almost-white:hsl(0, 0%, 98%);
    --medium-gray:hsl(0, 0%, 41%);
    --almost-black:hsl(0, 0%, 8%);
}

body{
    font-family: "Epilogue", serif;
    max-width: 1536px;
    margin: 0 auto;
    /* border: 2px solid black; */
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: none;
}
.container{
    max-width: 1400px;
    /* max-width: 1500px; */
    margin: 0 auto;
    padding: 20px 12px;
    /* border: 1px solid red; */
}

/* main */
/* section-1 */
#desktop-hero{
    display: none;
}
.section-1{
    text-align: center;
}
.section-1 img{
    max-width: 100%;
}

h1{
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    padding: 20px 0;
    color: var(--almost-black);
}

p{
    color: var(--medium-gray);
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
}

.section-2-btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.section-2-btn-wrapper button{
    background-color: var(--almost-black);
    color: var(--almost-white);
    width: 40%;
    height: 3rem;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

.section-2-imgs{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 1px;
}

.section-2-imgs img{
    max-width: 100%;
}
@media(min-width:1024px){
    nav ul{
        display: flex;
        align-items: center;
        color: var(--medium-gray);
        font-weight: 500;
        font-size: 18px;
        gap: 30px;
    }
    .nav-div-1{
        display: flex;
        align-items: center;
        gap: 50px;

    }
   
    nav button{
        border: 2px solid var(--medium-gray);
        color: var(--medium-gray);
        padding: 15px 25px ;
        border-radius: 15px;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
    }
    .menu-icon{
        display: none;
    }
    /* main */
    main{
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
        max-width: 76%;
        margin: 0 auto;
        padding: 60px 0;
        max-height: 100%;
    }
    h1,p{
        text-align: start;
    }
    h1{
        font-size: 4.7rem;
        padding: 45px 0;
    }
    p{
        line-height: 1.5;
        font-size: 18px;
    }
    #desktop-hero{
        display: block;
        max-height: 100%;
    }
    #mobile-hero{
        display: none;
    }
    .section-1{
        display: flex;
        justify-content: center;
    }
    .section-2-btn-wrapper{
        justify-content: flex-start;
        padding: 50px 0;
    }
    .section-2-btn-wrapper button{
        width: 30%;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .section-2-imgs{
        margin: 0;
    }
    
}
