@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --almost-white:hsl(0, 0%, 98%);
    --medium-gray:hsl(0, 0%, 41%);
    --almost-black:hsl(0, 0%, 8%);
}

body{
    font-family: "Epilogue", serif;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: none;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 16px;
    /* border: 1px solid red; */
}

/* main */
/* section-1 */
#desktop-hero{
    display: none;
}

.section-1 img{
    max-width: 100%;
}

h1{
    font-weight: 700;
    font-size: 2.3rem;
    padding: 20px 0;
    color: var(--almost-black);
}

p{
    font-size: 18px;
    color: var(--medium-gray);
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
}

.section-2-btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.section-2-btn-wrapper button{
    background-color: var(--almost-black);
    color: var(--almost-white);
    width: 40%;
    height: 3rem;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    /* padding: 15px; */
}

